<div class="container">
  <h2><%= @portfolio.name %></h2>
  <p>
    <strong>Aporte Inicial:</strong>
    $<%= @portfolio.initial_amount %>
  </p>

  <%= link_to 'Editar', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Voltar', portfolios_path %>
</div>
