<div class="container">
  <div class="jumbotron jumbotron-fluidr">
  <h1 class="display-4">Bem vindo ao Fuzzy Trader</h1>
  <p class="lead">
    <% if current_user%>
      <%= link_to 'Minhas Carteiras', portfolios_path, :class => 'btn btn-dark btn-lg' %>
    <% end %>
  </p>
</div>

</div>
